<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradeable</title>
</head>
<body>
    {% for product in products %}
        {{ product.product_name }}<br>
        {{ product.product_description }}<br>
        {{ product.product_price_SEK }}<br>
        {{ product.product_image }}<br>
        {{ product.category_name }}<br>
    {% endfor %}
</body>
</html>
